@import 'tailwindcss';

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/AtkinsonHyperlegible-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/AtkinsonHyperlegible-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/AtkinsonHyperlegible-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/AtkinsonHyperlegible-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
  --branding-orange-600: #f02e06;
  --branding-orange-500: #ff4f18;
  --branding-orange-400: #ff6f37;
  --branding-orange-300: #ffa170;
  --neutral-1000: #141517;
  --neutral-900: #393b40;
  --neutral-800: #414449;
  --neutral-700: #494d55;
  --neutral-600: #555c65;
  --neutral-300: #aab0b6;
  --neutral-200: #ced1d3;
  --neutral-100: #e4e6e9;
  --neutral-50: #f2f4f7;
  --black-opacity-80: #000000cc;
  --discord-green: #3ba55c;
  --discord-purple: #949cf7;
  --base-white: #ffffff;
  --base-black: #000000;
  --typography-font-weight-regular: Regular;
  --typography-font-weight-medium: Medium;
  --typography-family-family-body: Atkinson Hyperlegible;
  --typography-family-Family-caption: Atkinson Hyperlegible Mono;
}

@theme {
  --color-background: var(--neutral-1000);
  --color-background-secondary: var(--neutral-900);
  --color-background-tertiary: var(--neutral-800);
  --color-background-inverse: var(--base-white);
  --color-foreground: var(--neutral-100);
  --color-neutral-1000: var(--neutral-1000);
  --color-neutral-900: var(--neutral-900);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-100: var(--neutral-100);
  --color-branding-600: var(--branding-orange-600);
  --color-branding-500: var(--branding-orange-500);
  --color-branding-400: var(--branding-orange-400);
  --color-accent-red-700: var(--accent-red-700);
  --color-dark: var(--base-black);
  --color-white: var(--base-white);

  --font-sans: 'Atkinson Hyperlegible', ui-sans-serif, system-ui, sans-serif;
  --font-mono:
    'Atkinson Hyperlegible', ui-monospace, 'Cascadia Code', 'Source Code Pro',
    Menlo, 'DejaVu Sans Mono', monospace;
}

body {
  font-family: 'Atkinson Hyperlegible', ui-sans-serif, system-ui, sans-serif;
}

.gradiant-bg-hero20 {
  background: linear-gradient(0deg, #141517 0%, #000000 20%, #ff4f18 100%);
}

.gradiant-bg-hero48 {
  background: linear-gradient(0deg, #141517 0%, #000000 48%, #ff4f18 100%);
}

body {
  min-height: 100vh;
}
